# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore uploads archive
*.tar.gz

# ignore sites directories
site/web/app/mu-plugins/*
site/web/app/plugins/*
site/web/app/themes/*
site/web/app/uploads/*
site/web/wp/*

.env
.nohup.out


