.network-profile #item-header {
  margin: 35px 70px;
  min-height: auto;
  text-shadow: none;
}

#profile-main .right label {
  display: none;
}

#profile-main .social input {
  background-color: white;
}

#profile-main #profile-edit-form .left > .editable h4,
#profile-main #profile-edit-form .right > .editable h4 {
  margin: 0 2em 0.5em 0;
}

.profile #item-header-avatar,
#buddypress div#item-header img.avatar {
  float: none;
  margin-right: 0;
}

.profile #item-main {
  margin-left: 0;
}

.profile #item-main .affiliation {
  margin-bottom: 0.5em;
}

.profile #item-main .name {
  font-size: 200%;
}

.avatar-wrap {
  display: inline-block;
  float: right;
  height: 100px;
  width: 100px;
}

.following-n-members {
  clear: both;
  padding-top: 0.5em;
}

.network-profile #item-header {
  margin-bottom: 0; /* no need for bottom margin since xprofile boxes underneath header have a top margin anyway */
  margin-top: 1.5em;
  min-height: 320px;
}

#item-header-content {
  float: none;
}

.profile .bb-cover-photo button {
  display: none; /* replaced these buttons with links */
}

.profile #item-header #item-header-content {
  margin: 0;
  position: relative;
}

.profile #item-header #item-header-content #item-main,
.profile #item-header #item-header-content #item-meta {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.85);;
  text-shadow: none;
  flex: unset;
}

.profile #item-header #item-header-content #item-main {
  border-radius: 1em;
  left: 1em;
  position: relative;
  top: 1em;
  max-width: 50%;
}

.profile #item-header #item-header-content #item-meta {
  height: 292px;
  position: absolute;
  right: 0;
}

.profile #buddypress .standard-form input[type="text"] {
	margin-bottom: 0;
}

.profile #item-header-content {
	float: none;
}

.my-profile #item-nav {
  display: none;
}

@media screen and (max-width: 721px)  {

  .profile #item-header #item-header-content #item-main {
    left: 0;
    top: 0;
  }

  .profile #item-header #item-header-content #item-meta {
    position: relative;
  }

  .profile .bb-cover-photo {
    display: none;
  }

  .profile #buddypress #item-header-cover {
    position: unset;
  }
}

/* override boss main-mobile styles */
body.bp-user.is-mobile #buddypress div#item-header div#item-header-content {
  margin: 0;
  width: 100%;
}
.is-mobile .bb-cover-photo {
  height: 320px;
}
.is-mobile #buddypress div#item-header div#item-meta {
  margin: 0;
}
.is-mobile #buddypress div#item-header #item-buttons {
  width: unset;
}

#academic_interest {
  margin: 1em 0;
}

#profile-main .hideable ul {
  list-style-type: disc;
  padding-left: 20px;
  white-space: normal;
}
#profile-main .hideable ol {
  list-style-type: decimal;
  padding-left: 20px;
  white-space: normal;
}
#profile-main .hideable p {
  margin-bottom: 1em;
  white-space: normal;
}
