/**
 * badges
 */

.society-badge::before {
  border-radius: 0.25em;
  clear: left;
  color: white;
  float: left;
  font-size: 0.75em;
  left: 0;
  line-height: 0.75em;
  padding: 0.25em;
  position: relative;
  top: 0;
  z-index: 10;
}

.groups .society-badge.hc::before {
  /*
  background-color: black;
  content: "HC";
  */
}

/* TODO find a way to populate content dynamically */
.society-badge.beta::before {
  color: black;
  background-color: yellow;
  font-weight: bold;
  border: 1px solid black;
  content: "BETA";
  position: absolute;
  top: -1.5em;
}

.society-badge.mla::before {
  background-color: #7f132a;
  content: "MLA";
}

.society-badge.msu::before {
  background-color: #18453b;
  content: "MSU";
}

.society-badge.sah::before {
  background-color: #b63100;
  content: "SAH";
}

.society-badge.up::before {
  background-color: #b73a3a;
  content: "UP";
}

.society-badge.arlisna::before {
  background-color: #729fbc;
  content: "ARLISNA";
}

.society-badge.aseees::before {
  background-color: #ec2127;
  content: "ASEEES";
}

.society-badge.hastac::before {
  background-color: #00afec;
  content: "HASTAC";
}

.society-badge.dhri::before {
  background-color: #273142;
  content: "DHRI";
}



/**
 * overrides for cbox-theme / cbox-mla
 */

/*
.item-avatar,
#item-header-avatar {
  position: relative;
}

.item-avatar {
  height: 80px;
  width: 80px;
}

.profile.change-avatar #item-header-avatar {
  height: 210px;
  width: 210px;
}

.groups.single-item #item-header-avatar {
  height: 210px;
  width: 210px;
}

.item-avatar .avatar,
#item-header-avatar .avatar {
  position: absolute;
  left: 0;
}
*/

/*
div#item-header {
  overflow: visible !important;
}
*/


/**
 * overrides for boss theme
 */

#item-header-avatar {
  position: relative;
  width: 110px;
  height: 110px;
}

#item-header-avatar .avatar {
  left: 0;
  top: 0;
  position: absolute;
  float: none;
}

#item-header-avatar .society-badge.beta {
  text-shadow: none;
}

#item-header-avatar .society-badge.ajs {
  display: none;
}

#item-header-avatar .society-badge.caa {
  display: none;
}

#item-header-avatar .society-badge.hc {
  display: none;
}

/* hide badges in widgets (tiny avatars) */
.widget .society-badge-wrap {
  display: none;
}

/* members directory & search */

#primary #blogs-list .item-avatar,
#primary #members-list .item-avatar,
.search #primary .post-author {
  position: relative;
  vertical-align: top;
  top: -12px; /* vertically center avatars */
}

#primary #members-list .item-avatar > img,
.search #primary .avatar {
  left: 0;
  position: absolute;
  top: 0;
}

#primary #members-list .item-avatar a.society-badge-wrap,
.search #primary .avatar a.society-badge-wrap {
  height: auto;
}

.search .entry-content .avatar {
  max-width: none;
}

.search .entry-meta {
  min-height: 90px;
}
.search .entry-meta .table-cell {
  padding-bottom: 1.5em;
}
.search #content .post-wrap {
  padding-bottom: 0;
}

.search .vcard {
  display: table;
  margin-left: 95px;
}

/* leave a little room to ensure avatars don't overflow */
.search #content article {
  margin-bottom: 20px;
}


/* member profile */

.profile #item-header-avatar {
  position: relative;
}

.profile #item-header-avatar > img {
  left: 0;
  position: absolute;
  top: 0;
}


/* groups directory */

#primary #groups-list li .item-avatar {
  position: relative;
  vertical-align: top;
  min-width: 105px; /* even if no badges are present, ensure the avatar is correctly sized */
}

#primary #groups-list li .item-avatar > img {
  left: 0;
  position: absolute;
  top: 0;
  width: 70px;
  height: 70px;
}

#primary #groups-list .item-avatar a.society-badge-wrap {
  height: 70px;
  width: 70px;
}

.my-groups .society-badge-wrap {
  display: none !important;
}

/* single group */

/* pending bbpress template review */
.single-item.groups .society-badge-wrap {
  display: none;
}

.item-list li .item-avatar a {
  display: inline;
}
.single-item.groups.group-members .item-list li .item-avatar a.society-badge-wrap {
  display: block;
}


/* sites directory */



