/* Smartphone */
@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed !important;
	}
}
@media only screen and (max-width: 799px) {
 	.mobilemenu-fixed.mobilemenu-open #menu-primary-items {
    	  left: 0;
    	  top: 46px;
    	  z-index: 99996999 !important;;
	}
}


